body {
    margin: 10px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 17px;
    color: #444;
    padding: 0 10px;
}

.post__home {
    font-size: 16px;
    margin: 0;
    color: #444;
}

.post__title {
    margin-bottom: 0;
}

.post__date {
    margin-top: 0;
    margin-bottom: 2em;
}

.post__main {
    padding-bottom: 20px;
}
